/* Desktop */
@media screen and (min-width: 1024px) {
  #mobileMenu {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 1023px) {
  #desktopMenu {
    display: none;
  }

  #title {
    font-size: 28px;
    margin-left: 20px;
    padding-bottom: 5px;
  }

  nav {
    text-align: left;
  }
  ul.subnav {
    font-size: 22px;
  }

  table.subnav {
    width: 100%;
  }

  .wedding-party {
    margin: 0 0;
  }
  img.wedding-party-profile {
    height: 250px;
    width: 250px;
  }

  .content {
    padding-top: 36px;
    overflow-x: hidden;
  }
  iframe {
    margin-top: 0px;
  }

  #photoAlbum th.prev {
    width: 15%;
  }
  #photoAlbum th.next {
    width: 15%;
  }
  #photoAlbum th.photo {
    width: 70%;
  }

  #currentPhoto {
    height: 350px;
  }
}
