/* Desktop */
@media screen and (min-width: 1024px) {
  #mobileMenu {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 1023px) {
  #desktopMenu {
    display: none;
  }

  #title {
    font-size: 28px;
    margin-left: 20px;
    padding-bottom: 5px;
  }

  nav {
    text-align: left;
  }

  .content {
    padding-top: 36px;
    overflow-x: hidden;
  }
  iframe {
    margin-top: 0px;
  }
}
