#photoAlbum {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
#photoAlbum td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
#photoAlbum th.prev {
  width: 10%;
}
#photoAlbum th.next {
  width: 10%;
}
#photoAlbum th.photo {
  width: 80%;
}
#photoAlbum #currentPhoto {
  width: 100%;
}
#photoAlbum #currentPhotoDesc {
  text-align: center;
}

#currentPhoto {
  height: 500px;
  object-fit: contain;
}

#photoAlbum #currentPhoto.fullScreen {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  object-fit: contain;
}

#prevPhoto, #nextPhoto {
  width: 50px;
  height: 500px;
}
