#photoAlbum {
  table-layout: fixed;
  width: 100%;
}

#photoAlbum td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#photoAlbum th.photo {
  width: 100%;
}

#photoAlbum #currentPhoto {
  width: 100%;
}

#photoAlbum p {
  text-align: center;
}

#currentPhoto {
  height: 500px;
  object-fit: contain;
}

#photoAlbum #currentPhoto.fullScreen {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  object-fit: contain;
}

#photoControls {
  text-align: center;
}

#photoControls * {
  display: inline;
  padding: 0 10px
}

#prevPhoto, #nextPhoto {
  width: 50px;
  height: 50px;
  border-radius: 0;
}

button {
  touch-action: manipulation;
}
