*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Grenze', serif;
    font-size: 2.5vw;
    background-color: #006600;
}

h1 {
    color: lightgrey;
    margin: 0;
    font-size: 3.5vw;
}

#pile {
    cursor: pointer;
}

#gameBoard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px 20px 20px 20px;
}

#gameBoard section div {
    position: relative;
}

.gameControls {
    display: flex;
    justify-content: left;
    margin: 1vh 0 auto 0;
    width: 80vw;
    margin-bottom: 5vh;
}

#resetButton {
  margin-right: 3vw;
}

#saveStatus, #timer, #score, #playerName {
    margin-right: 3vw;
    color: lightgrey;
}

#topRow {
    display: flex;
}

#draw {
    margin-right: auto;
}

#bottomRow {
    display: flex;
    margin-bottom: 38vh;
}

button {
    font-size: 1.6vw;
    background: #629736;
    width: 10vw;
    border: solid 1px lightgrey;
    border-radius: 2px;
    color: lightgrey;
    font-family: 'Grenze', serif;
}

.highlight {
    box-shadow: 0px 0px 10px .3vw rgb(255, 255, 255);
}
